<div data-controller="modal" data-action="keydown.window->modal#handleKeydown">
  <%= render 'pages/hero' %>
  <%= render 'pages/features' %>

  <%# 使い方ガイドモーダル (既存のものを再利用) %>
  <%= render 'shared/how_to_use_modal' %>
</div>
